*{
  margin:0

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: grid;
  grid-template-columns: 300px auto  0px;
}
.loginWrap img{
  width: 100px; 
}
.loginWrap{
  background: rgb(rgb(140, 0, 255));
  padding-top: 200px;
  width: 400px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;

}
.loginWrap button{
  width: 100%;
  background: rgb(203, 203, 253);
  padding: 20px 20px;
  color: rgb(23, 18, 18);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
  border-radius: 60px;

}



